.git
.gitignore
.dockerignore
.datasets/
docs/
tests/
scripts/
infra/terraform/
**/.venv/
**/venv/
**/__pycache__/
**/.mypy_cache/
**/.ruff_cache/
**/.pytest_cache/
**/*.pyc
**/.env
**/.idea/
**/.vscode/
**/go.work
**/go.work.sum
**/coverage.*
**/*.exe
**/*.test
